/* Media Queries */
@media (max-width: 768px) {
    .about-container, .resume-container {
        flex-direction: column;
    }

    .about-left, .about-right, .resume-left, .resume-right {
        width: 100%;
    }

    .projects .project-container {
        flex-direction: column;
    }

    .projects .project {
        width: 100%;
        margin: 1rem 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    section {
        padding: 1rem;
    }

    .projects .project {
        width: 100%;
        margin: 0.5rem 0;
    }
}